.image-label input{
width: 0;
height: 0;

}

.image-label img{
    min-width: 100px;
    min-height: 100px;
    height: 200px;
    width: 200px;
    /* background-color: white; */
    cursor:pointer;
    transition: all .45s ease-out;
}
.image-label img:hover, .image-label img:focus{
    cursor: pointer;
    transition: all .45s ease-out;
    box-shadow: 0 0.5em 0.5em -0.4em black;
    transform: translateY(-0.25em);

}
.create-item-wrap{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.create-item-body{
    display: flex;
    /* justify-self: center; */
    /* align-self: center; */
    justify-content: center;
}
.upload-form-item{
    display: flex;
    margin: 0 auto;
}
