.Mini-Single-Item-Image{
    width: 350px;
    height: 300px;
    border-radius: 30px;
}
.Single-Item-Title{
    display: flex;
    justify-content: center;
    cursor:default;
    font-size: 18px;
}
