.Computer-Items{
    display: flex;
    gap: 80px;
    background-color:rgba(50, 50, 50, .8);
    padding: 30px;
    border-radius: 20px;
}
.Item-Containers{
    display: grid;
    justify-content: center;


}
.Item-Containers h2{
    justify-self: center;
}
