.profile-dropdown {
  position: absolute;
}
nav {
  position: sticky;
  top:0;
  z-index: 100;

  display: flex;
  justify-content: space-around;
  gap: 800px;

  padding: fill;
  height: 50px;
  background-color: #232323;
}
nav > ul {
  display: flex;
  list-style: none;
  gap: 100px;
}
.icon-img{
  height: 100%;
}
.Jungle{
  font-size: 26px;
}
nav > ul > li {
  display: flex;
  transition: background-color .2s;
  background-color: #232323;
  /* justify-content: center; */
  color: white;
  align-items: center;
  width: 100px;
  justify-content: center;
  font-size: larger;
}
nav > ul > li:hover {
  transition: background-color .2s;
  /* background-color:  rgba(37,37,77,1); */
}
.nav-search{
  width: 400px;

}
.outside-links{
  display: flex;
  justify-content: space-around;
  gap: 40px;
}
.icon-img-links{
  height: 150%;
}
.nav-search-input{
  border-radius: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 300px !important;
}
.links{
  text-decoration: none;
  color: inherit;
}
.Demo-Button{
  background-color: white;
  border: black;
  border-radius: 10px;
  height: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.Demo-Button:hover{
  cursor: pointer;
}
.Profile-Button-Nav:hover{
  transition: none;
  /* background-color: #000423; */

}
